################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/file_structure/.vs/file_structure/v16
/file_structure/bin/x86/Debug
/file_structure/obj
/sample/bin/Debug/netcoreapp3.1
/sample/obj
/file_structure/.vs/file_structure/DesignTimeBuild
/file_structure/bin/Debug/netstandard2.0
/file_structure/AppPackages/file_structure_1.0.0.0_Debug_Test
/file_structure/BundleArtifacts
/file_structure/NeoLua/bin/Debug/netstandard2.0
/file_structure/NeoLua/obj
*.user
/file_structure/kernel/obj
/file_structure/AppPackages
/file_structure/bin
/mp4/obj
/mp4/bin/x86/Debug
/mp4/AppPackages
/mp4/bin
/mp4/BundleArtifacts
/Editor/AppPackages
/Editor/bin
/Editor/BundleArtifacts
/Editor/obj
/PythonRange_Crash/bin/x64/Debug/AppX
/PythonRange_Crash/bin/x64/Debug/Lib
/PythonRange_Crash/bin/x64/Debug
/PythonRange_Crash/obj
/PythonRange_Crash/bin/x64/Release/AppX
/PythonRange_Crash/bin/x64/Release
